/* banner header */

#banner-header img{max-width: 100%;}
/* end banner header */

/* event new book */
#event-new-book{background-image: url('img/event-new-book/bg.png');padding-top: 60px;}
#event-new-book .introduce-event-book .title img{max-width: 100%;}
#event-new-book .introduce-event-book .depcription .item{text-align: center}
#event-new-book .introduce-event-book .depcription .item .depcrip-arrow span{text-transform: uppercase;font-size: 30px;font-weight: bold;color: #bd232a;}
#event-new-book .introduce-event-book .depcription .item .arrow{clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);background-color: #bd232a;height: 40px;color: white;padding-top: 10px;padding-right: 50px;text-transform: uppercase;font-size: 0.8rem;margin-top: 23px;}
#event-new-book .introduce-event-book .depcription .item .depcrip-arrow .p-two{float: left;margin-top: -20px;}
#event-new-book .introduce-event-book .depcription .item .depcrip-arrow .p-one{margin-top: 18px;float: left;}
#event-new-book .order-book {margin-top: 50px;padding-bottom: 50px;}
#event-new-book .order-book .content{width: 100%;height: 100%;background-color: white;border-radius: 25px;margin-bottom: 100px;}
#event-new-book .order-book .content .depcrip-order .depcrip-order-one .p-one{font-weight: bold;color: #bd232a;float: left;;padding-top: 20px;font-style: italic;}
#event-new-book .order-book .content .depcrip-order .depcrip-order-one .p-two{display: block;text-transform: uppercase;float: left;font-weight: bold;color: #bd232a;}
#event-new-book .order-book .content .depcrip-order .depcrip-order-one .p-three{display: block;float: left;width: 453px;}
#event-new-book .order-book .content .depcrip-order .depcrip-order-one .p-four{display: block;float: left;width: 100%;}

#event-new-book .order-book .content .depcrip-order .depcrip-order-two .p-one{font-weight: bold;color: #bd232a;float: left;font-style: italic;padding-top: 24px;}
#event-new-book .order-book .content .depcrip-order .depcrip-order-two .p-two{font-weight: bold;float: left;width: 453px}
#event-new-book .order-book .content .depcrip-order .depcrip-order-two .p-three{display: block;float: left;width: 100%;}

/* end event new book */

/* reason */
#reason{background-image: url('img/reason/bg.png');}
#reason .title {display: flex;justify-content: center;padding-top: 50px;}
#reason .title h1{text-transform: uppercase;color: white;width: 645px;text-align: center;margin-top: 50px;}
#reason .title span{color: #eab848;}
#reason .content {padding-top: 50px;}
#reason .content .item{padding-bottom: 40px;}
#reason .content .div-four{padding-top: 20px;}
#reason .content .item img{ max-width: 100%;}
#reason .content .item span{font-size: 4rem;color: #1b2c59;padding-top: 10px;position: absolute ;padding-left: 35px;}
#reason .content .item p{ width: 90%;margin-top: -75px;padding-left: 167px;}
#reason .button-register{text-align: center; padding-top: 3%; padding-bottom: 10px;}
#reason .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 20%;font-weight: bold;}

/* end reason */

/* human resource management book */

#book-management{background-image: url('img/book-manage/bg.png');}
#book-management .text-depcription .deprip{padding-top: 100px;}
#book-management .text-depcription .deprip .p-one span{text-transform: uppercase;}
#book-management .text-depcription .deprip .p-two span{text-transform: uppercase;font-weight: bold;}
#book-management .title{text-align: center;}
#book-management .title h2{color: #bd232a;text-transform: uppercase;font-weight: bold;}
#book-management .title img{max-width: 100%;padding-top: 30px;}
#book-management .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#book-management .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 20%;font-weight: bold;}
/* end human resource management book   */

/* content book */
#content-book {background-image: url('img/content-book/bg.png');}
#content-book .content {display: flex;justify-content: center;padding-top: 60px;padding-bottom: 50px;}
#content-book .content h2{text-transform: uppercase;color: white;padding-left: 20px;font-weight: bold;padding-top: 20px;}
/* end content book */

/* right-recruitment-book */
#right-recruitment-book .content .depcrip .title{display: flex;}
#right-recruitment-book .content .depcrip .title .title-infor h3{color:#1b2c59 ;text-transform: uppercase;font-weight: bold;padding-top: 101px;}
#right-recruitment-book .content .depcrip .title .title-infor h5{font-weight: bold;color: #bd232a;}
#right-recruitment-book .content .depcrip .title .title-infor h6{font-weight: bold;color: #bd232a;}
#right-recruitment-book .content .depcrip .title .title-number{margin-top: 59px;border-top: solid #1b2c59;border-right: solid #1c2d5a;}
#right-recruitment-book .content .depcrip .title .title-number span{font-size: 7rem;padding-left: 30px;color: #cb2428;}
#right-recruitment-book .content .depcrip .content-text .item{display: flex;margin-top: 100px;height: 18px}
#right-recruitment-book .content .depcrip .content-text .item .arrow-right{border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 24px solid #cb2429;margin-top: 5px;}
#right-recruitment-book .content .depcrip .content-text .item p{margin-left: 20px;}
#right-recruitment-book .content .depcrip .content-text .item span{font-weight: bold;}
#right-recruitment-book .content .image img{max-width: 100%;margin-top: 282px;}
#right-recruitment-book .content .image .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#right-recruitment-book .content .image .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 38%;font-weight: bold;}
/* end right-recruitment-book */

/* mbti */
#mbti{background-image: url('img/MBTI/bg.png');margin-top: 100px;}
#mbti .content{padding-top: 30px;}
#mbti .content .depcrip .title{display: flex;}
#mbti .content .depcrip .title .title-number{margin-top: 59px;border-top: solid #1b2c59;border-left: solid #1c2d5a;}
#mbti .content .depcrip .title .title-number span{font-size: 7rem;color: #cb2428;}
#mbti .content .depcrip .title .title-infor{margin-left: 20px;}
#mbti .content .depcrip .title .title-infor h3{color:#1b2c59 ;text-transform: uppercase;font-weight: bold;padding-top: 101px;}
#mbti .content .depcrip .title .title-infor h5{font-weight: bold;color: #bd232a;}
#mbti .content .depcrip .title .title-infor h6{font-weight: bold;color: #bd232a;}
#mbti .content .depcrip .content-text{margin-top: 40px;}
#mbti .content .depcrip .content-text .item{display: flex;height: 18px;margin-top: 70px;}
#mbti .content .depcrip .content-text .item .arrow-right{border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 24px solid #cb2429;margin-top: 5px;}
#mbti .content .depcrip .content-text h6{text-transform: uppercase;font-weight: bold;}
#mbti .content .depcrip .content-text .item p{margin-left: 20px;}
#mbti .content .depcrip .content-text .item span{font-weight: bold;}
#mbti .content .depcrip .content-text .last{margin-bottom: 100px;}
#mbti .content .image img{max-width: 100%;margin-top: 340px;}
#mbti .content .image .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#mbti .content .image .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 38%;font-weight: bold;}
/* end  mbti */

/* book three */
#book-three .content .depcrip .title{display: flex;}
#book-three .content .depcrip .title .title-infor h3{color:#1b2c59 ;text-transform: uppercase;font-weight: bold;padding-top: 101px;}
#book-three .content .depcrip .title .title-infor h5{font-weight: bold;color: #bd232a;}
#book-three .content .depcrip .title .title-infor h6{font-weight: bold;color: #bd232a;}
#book-three .content .depcrip .title .title-number{margin-top: 59px;border-top: solid #1b2c59;border-right: solid #1c2d5a;}
#book-three .content .depcrip .title .title-number span{font-size: 7rem;padding-left: 30px;color: #cb2428;}
#book-three .content .depcrip .content-text .item{display: flex;margin-top: 60px;height: 18px}
#book-three .content .depcrip .content-text .item .arrow-right{border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 24px solid #cb2429;margin-top: 5px;}
#book-three .content .depcrip .content-text .item p{margin-left: 20px;}
#book-three .content .depcrip .content-text .item span{font-weight: bold;}
#book-three .content .depcrip .content-text .last{margin-bottom: 100px;}
#book-three .content .image img{max-width: 100%;margin-top: 282px;}
#book-three .content .image .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#book-three .content .image .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 38%;font-weight: bold;}
/* end book three */

/* leadership-capacity-building */
#leadership-capacity-building{background-image: url('img/leadershipcapacity-building/bg.png');}
#leadership-capacity-building .content .depcrip .title{display: flex;}
#leadership-capacity-building .content .depcrip .title .title-infor h3{color:#1b2c59 ;text-transform: uppercase;font-weight: bold;padding-top: 101px;}
#leadership-capacity-building .content .depcrip .title .title-infor h5{font-weight: bold;color: #bd232a;}
#leadership-capacity-building .content .depcrip .title .title-infor h6{font-weight: bold;color: #bd232a;}
#leadership-capacity-building .content .depcrip .title .title-number{margin-top: 59px;border-top: solid #1b2c59;border-left: solid #1c2d5a;}
#leadership-capacity-building .content .depcrip .title .title-number span{font-size: 7rem;padding-left: 30px;color: #cb2428;}
#leadership-capacity-building .content .depcrip .content-text .item{display: flex;margin-top: 70px;height: 18px}
#leadership-capacity-building .content .depcrip .content-text .item .arrow-right{border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 24px solid #cb2429;margin-top: 5px;}
#leadership-capacity-building .content .depcrip .content-text .item p{margin-left: 20px;}
#leadership-capacity-building .content .depcrip .content-text .item span{font-weight: bold;}
#leadership-capacity-building .content .depcrip .content-text .last{margin-bottom: 100px;}
#leadership-capacity-building .content .image img{max-width: 100%;margin-top: 282px;}
#leadership-capacity-building .content .image .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#leadership-capacity-building .content .image .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 38%;font-weight: bold;}
/* end leadership-capacity-building */

/* author */
#author{background-image: url('img/author/bg.png');}
#author .title{display: flex;justify-content: center;padding-top: 20px;}
#author .title h2{color: white;text-transform: uppercase;margin-top: 25px;margin-left: 20px;font-weight: bold;}
#author .content{margin-top: 100px;}
#author .content .line{display: flex;text-align: center;}
#author .content .line .item{margin-left: 100px;}
#author .content .line .item img{max-width: 100%;margin-top: 10px;}
#author .content .line .item .name-author{background-color: white;width: 100% ;height: 40px;border-radius: 25px;text-align: center;padding-top: 10px;color: #1c2d5a;font-weight: bold;margin-top: 10px;}
#author .content .line .item a{color: white;font-size: 1rem;text-transform: uppercase;margin-top: 20px}
#author .content .last{padding-bottom: 100px;}
/* end author */

/* slide */
#slide{background-image: url('img/slide/bg.png');}
#slide .title{display: flex;justify-content: center;padding-top: 20px;}
#slide .title h2{color: white;text-transform: uppercase;margin-top: 25px;margin-left: 20px;font-weight: bold;}
#slide .content{margin-top: 70px;}
#slide .content .item iframe{max-width: 100%;height: 100%;}
#slide .content .owl-carousel .owl-next{font-size: 500%;margin-left: 1060px;margin-top: -146px;position: absolute;color: #7c828e;}
#slide .content .owl-carousel .owl-prev {font-size: 500%;position: absolute;margin-top: -146px;margin-left: -3%;color: #7c828e;}
#slide .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#slide .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 17%;font-weight: bold;}
/* end slide */

/* commitment */
#endow{background-image: url('img/commitment/bg.png');}
#commitment img{max-width: 100%;height: 100%;}
#commitment .title{display: flex;justify-content: center;padding-top: 80px;}
#commitment .title h2{text-transform: uppercase;color: #1b2c59;font-weight: bold;padding-top: 20px;margin-left: 20px;}
#commitment .title span{color: #bd222a;}
#commitment .content {margin-top: 70px;}
#commitment .content .depcrip .item{display: flex;margin-bottom: 50px;}
#commitment .content .depcrip .item img{padding-top: 30px;margin-bottom: 50px;}
#commitment .content .depcrip .item .depcrip-text{background-color: white;width: 100%;border: solid 2px #cb575d;border-radius: 25px;text-transform: uppercase;margin-left: 20px;}
#commitment .content .depcrip .item .depcrip-text h5{font-weight: bold;padding-top: 10px;padding-left: 10px;}
#commitment .content .depcrip .item .depcrip-text p{float: left;padding-left: 10px;}
#commitment .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#commitment .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 17%;font-weight: bold;}
/* end commitment */

/*endow */
#endow{background-image: url('img/endow/bg.png');}
#endow img{max-width: 100%;height: 100%;}
#endow .title{display: flex;justify-content: center;padding-top: 80px;}
#endow .title h2{text-transform: uppercase;color: white;font-weight: bold;padding-top: 20px;margin-left: 20px;}
#endow .content{margin-top: 70px;padding-bottom: 50px;}
#endow .content .div-register .depcrip .item{text-align: center}
#endow .content .div-register .depcrip .item .arrow{clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);background-color: #bd232a;height: 40px;color: white;padding-top: 10px;padding-right: 50px;text-transform: uppercase;font-size: 0.8rem;margin-top: 23px;}
#endow .content .div-register .depcrip .item .depcrip-arrow .p-two{float: left;margin-top: -20px;}
#endow .content .div-register .depcrip .item .depcrip-arrow .p-one{margin-top: 18px;float: left;}
#endow .content .div-register .depcrip .item .depcrip-arrow  p{color: white;}
#endow .content .div-register .depcrip .item .depcrip-arrow span{text-transform: uppercase;font-size: 30px;font-weight: bold}
#endow .content .div-register .form-register{padding-top: 30px;padding-left: 120px}
#endow .content .div-register .form-register .tag-input{margin-bottom: 15px;}
#endow .content .div-register .form-register .tag-input img{position: absolute;margin-left: 20px;height: 6%;padding-top: 5px;}
#endow .content .div-register .form-register .tag-input .css-ip{width: 100%;border-radius: 25px;border: white;height: 35px;background-color: white;padding-right: 40px;}
#endow .content .div-register .form-register .tag-input select {opacity: 1;padding-left: 70px;font-weight: bold;color: #2a3a64 !important;}
::placeholder {opacity: 1;padding-left: 70px;font-weight: bold;color: #2a3a64;}
#endow .content .div-register .form-register .button-register{text-align: center; padding-top: 5%; padding-bottom: 10px;}
#endow .content .div-register .form-register .button-register .text{border-radius: 25px;border: none;text-transform: uppercase;background-color: #d51f29;color: white;font-size: 1rem; padding: 5px;width: 43%;font-weight: bold;}
#endow .content .depcrip-bonus{width: 100%;background-color: white;margin-top: 50px;border-radius: 25px;}
#endow .content .depcrip-bonus .video {padding-top: 50px;}
#endow .content .depcrip-bonus .video iframe{width: 90%;height: 300px;}
#endow .content .depcrip-bonus .depcrip-text{padding-left: 30px}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-one .p-one{font-weight: bold;color: #bd232a;float: left;;padding-top: 20px;font-style: italic;}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-one .p-two{display: block;text-transform: uppercase;float: left;font-weight: bold;color: #bd232a;}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-one .p-three{display: block;float: left;width: 453px;font-weight: 600}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-one .p-four{display: block;float: left;width: 100%;font-weight: 600}

#endow .content .depcrip-bonus .depcrip-text .depcrip-order-two .p-one{font-weight: bold;color: #bd232a;float: left;font-style: italic;padding-top: 24px;}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-two .p-two{font-weight: bold;float: left;width: 453px}
#endow .content .depcrip-bonus .depcrip-text .depcrip-order-two .p-three{display: block;float: left;width: 100%;font-weight: bold}
/* end endow */